/* general */

body{
    font-family: 'Nunito', sans-serif;

}

p{
    font-size: 1.3rem;
}

b{
    font-weight: 600;
}


div{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.8rem 3rem 0.8rem 3rem;
    overflow: hidden;

    position: fixed;
    top: 0px; 
    width: 100%; 
    background-color: white;

    box-shadow: 0px 0px 30px 0px rgba(0,0,0,.2);
    margin-bottom: 1rem;
    z-index: 1;

    transition:top 0.5s linear;

    opacity: 96%;
}

main{
    position:relative;
    top: 3rem;
    margin: 3rem 0 6rem 0;
}

header a{
    font-size:1.3rem;
    text-decoration: none;
    color: green;
}

.current{
    text-decoration: underline;
    text-underline-offset: 0.3rem;
}

nav{
    display: inline-flex;
    flex-direction: row;
    gap:2rem;
}


footer p{
    font-size: 1rem;
    color:dimgray;
}

footer{
    display:flex;
    padding: 1rem 3rem 1rem 3rem;
    align-items: center;
    justify-content:center;
    gap: 1rem;

}
footer i{
    cursor: pointer;
}

#linkedin{
    color: #1E3050;
}

#backtotop{
    color: green;
}
html {
    scroll-behavior: smooth;
  }


#content_progress {
    /* Positioning */
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-color: transparent;
    color: green;
}

#content_progress::-webkit-progress-bar {
    background-color: transparent;
}

#content_progress::-webkit-progress-value {
    background-color: green;
}

#content_progress::-moz-progress-bar {
    background-color: green;
}

h1{
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 2rem;

}


/* About */


#about{
    display: grid;
    grid-template-columns: 40% 45%;
    justify-content: start;
    align-items: center;
    gap:5%;
}


#about img{
    grid-column: 1 / 2;
    border-radius: 50%;
    width: 90%;
    max-width: 400px;
    justify-self: flex-end;
    
}



#name{
    display:inline;
    animation: shake 5s infinite;
    font-weight: 600;
}

@keyframes shake{
    0% { transform: rotate(0deg); }
    96% { transform: rotate(0deg); }
    97% { transform: rotate(3deg); }
    98% { transform: rotate(0deg); }
    99% { transform: rotate(-3deg); }
    100% { transform: rotate(0deg); }
  }

#name:hover{
    animation: shake-focus 0.5s infinite;
}
@keyframes shake-focus{
    0% { transform: rotate(0deg); }
    25% { transform: rotate(3deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-3deg); }
    100% { transform: rotate(0deg); }
  }

#about b{
    font-weight: 800;
}

  /* personal */

  
#personalhtml, #personalbody{
    height:100vh;
}

#personalbody{
    margin: 0;
}

#sscontainer{
    height:100%;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-snap-stop: always;

}

#sscontainer section{
    height: 100vh;
    text-align: center;
    margin:0 auto;
    scroll-snap-align: start;
}

  /* #gallery {
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
  }
  
  #gallery img {
     scroll-snap-align: center;
     max-height: 100vh;
  } */




